DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

MYSQLHOST=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=
MYSQLPORT=

JWT_SECRET=
TMDB_API_KEY=
MP_ACCESS_TOKEN=
GOOGLE_SCRIPT_URL=
BASE_URL=
NODE_ENV=development

MYSQLDUMP_PATH=